# Dependencies
node_modules/
package-lock.json

# Build
dist/
*.tsbuildinfo

# Debug/Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
.DS_Store

# Test Results
coverage/
junit.xml

# Temporary files
/tmp/
*.tgz

# Test files 
examples/
tests/
tools/

#docs
docs/
mongo_job_queue_security_analysis.md
